{% load staticfiles %}
<div class="large-12 small-12 columns nopadding bottombar_wrapper background_color_3">
	<div class="large-4 small-12 columns bottombar_left color_fff">
		<div class="large-12 small-12 columns">
			<span class="span_subusual">2017, Медицинский центр НейроПрофи</span>
		</div>
		<div class="large-12 small-12 columns">
			<span class="span_subusual">Комплексное лечение болевых синдромов в Казани для Вас и Ваших близких</span>
		</div>
	</div>

	<div class="large-4 small-12 columns text_center">
		
		<div class="large-12 small-12 columns nopadding">
			<span class="span_usual color_fff">Телефон: <a href="tel:+78432966667" class="a_white">8(843)296-66-67</a></span>
		</div>

		<div class="large-12 small-12 columns nopadding">
			<span class="span_usual color_fff">Адрес: г. Казань, ул. Космонавтов 6 а</span>
		</div>

	</div>

	<div class="large-4 small-12 columns bottom_right">
		<div class="large-12 small-12 columns bottom_right_wrapper text_right">
			<span class="vk_ico_wrapper">
				<a href="https://vk.com/de_tress">
					<svg xmlns="http://www.w3.org/2000/svg" class="vk_ico height_inherit" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6.344 16.163h-1.867c-1.055 0-1.232-.601-2.102-1.469-.785-.785-1.22-.183-1.202.935.006.297-.141.534-.495.534-1.105 0-2.694.156-4.304-1.58-1.647-1.779-3.374-5.348-3.374-5.699 0-.208.172-.301.459-.301h1.898c.503 0 .545.249.686.568.584 1.331 1.981 4.002 2.354 2.511.214-.856.301-2.839-.615-3.01-.52-.096.396-.652 1.722-.652.33 0 .688.035 1.054.12.673.156.676.458.666.898-.034 1.666-.235 2.786.204 3.069.419.271 1.521-1.502 2.104-2.871.159-.378.191-.632.643-.632h2.322c1.216 0-.159 1.748-1.21 3.112-.847 1.099-.802 1.12.183 2.034.701.651 1.53 1.54 1.53 2.043 0 .238-.186.39-.656.39z"/></svg>
				</a>
			</span>
		</div>		
	</div>
</div>