<!-- cart panel -->
<div class="large-8 small-6 columns height_inherit nopadding">



  <div class="bag_wrapper large-12 small-12 columns height_inherit nopadding font_inherit transition" tabindex="2">
    <div class="large-2 small-2 columns nopadding bag_ico_wrapper">
      <span>
        <img src="/media/Иконки корзина и человек.png" alt="корзинка">
      </span>
    </div>
    <div class="large-4 small-4 columns nopadding">
      <span class="span_small">товары</span>            
    </div>
    <div class="large-3 small-3 columns nopadding">
      <span class="span_small">[<span class="cart_count">0</span> шт.]</span>
    </div>
    <div class="large-3 small-3 columns nopadding">
      <span class="span_small"><span class="cart_cost">0</span> руб.</span>
    </div>
  </div>



  <div class="cart_content large-12 small-12 columns nopadding">
    {% for unit in units %}
      <div class="large-12 small-12 columns nopadding cart_content_line" data-id="{{unit.id}}">
        <span class="span_small large-12 small-12 columns nopadding height_inherit">
          <span class="large-9 small-9 columns nopadding">{{unit.name}}</span>
          <span class="large-2 small-2 columns nopadding">{{unit.cost}}</span>
          <span class="large-1 small-1 columns nopadding remove_from_cart" title="Удалить?" data-id="{{unit.id}}">&times;</span>
        </span>
      </div>  
    {% endfor %}
    <div class="large-12 small-12 columns nopadding cart_content_line">
      <span class="span_small large-12 small-12 columns nopadding height_inherit">
        <a href="/confirmation/">подтвердить заказ</a>
      </span>
    </div>
  </div>



</div>
<!-- end cart panel -->

<script>
  var cart_units = {{units|safe}};
</script>