<!-- панель login -->
<div class="large-4 small-6 columns height_inherit nopadding">
  
  <div class="login_wrapper large-12 small-12 columns height_inherit nopadding font_inherit transition" tabindex="1">
    <div class="triangle_wrapper large-2 small-2 columns nopadding">
      <div class="triangle">
      </div>
    </div>
    {% if request.session.authorized %}
      <div class="large-10 small-10 columns nopadding">
        <span class="span_small" title="{{request.session.name}}">{{ request.session.name }}</span>            
      </div>
    {% else %}
      <div class="large-10 small-10 columns nopadding">
        <span class="span_small">войти через</span>        
      </div>
    {% endif %}
  </div>


  <div class="login_content large-12 small-12 columns nopadding">
    {% if request.session.authorized %}
      <div class="large-12 small-12 columns nopadding login_content_line">
        <span class="span_small large-12 small-12 columns nopadding height_inherit">
          <a href="/logout/">выйти</a>  
        </span>
      </div>
    {% else %}
      <div class="large-12 small-12 columns nopadding login_content_line">
        <span class="span_small large-12 small-12 columns nopadding height_inherit">
          <a href="{{ vk.url }}">вконтакте</a>
        </span>
      </div>

      <!-- <div class="large-12 small-12 columns nopadding login_content_line">
        <span class="span_small large-12 small-12 columns nopadding height_inherit">
          <a href="#">одноклассники</a>
        </span>  
      </div> -->

      <div class="large-12 small-12 columns nopadding login_content_line">
        <span class="span_small large-12 small-12 columns nopadding height_inherit">
          <a href="{{ fb.url }}">facebook</a>
        </span>  
      </div>

      <!-- <div class="large-12 small-12 columns nopadding login_content_line">
        <span class="span_small large-12 small-12 columns nopadding height_inherit">
          <a href="#">twitter</a>
        </span>  
      </div>
      
      <div class="large-12 small-12 columns nopadding login_content_line">
        <span class="span_small large-12 small-12 columns nopadding height_inherit">
          <a href="#">mail.ru</a>
        </span>  
      </div> -->

      <div class="large-12 small-12 columns nopadding login_content_line">
        <span class="span_small large-12 small-12 columns nopadding height_inherit">
          <a href="{{ ya.url }}">яндекс</a>
        </span>  
      </div>

      <div class="large-12 small-12 columns nopadding login_content_line">
        <span class="span_small large-12 small-12 columns nopadding height_inherit">
          <a href="{{ gp.url }}">google</a>
        </span>  
      </div>
    {% endif %}
  </div>
</div>
<!-- конец панели login -->