<div class="large-2 small-12 columns nopadding logobar_wrapper">
  <div class="row logobar_content nopadding height_inherit" style="margin:0;">

    <div class="small-2 columns height_inherit nopadding mobile_menu_button">
      <i class="fi-align-justify height_inherit mobile_menu_button_ico color_1">
        
      </i>
    </div>

  <!--   <div class="large-4 columns logobar_left_wrapper background_fff">
    <div class="large-1 small-3 columns nopadding">
      <span class="span_subusual logobar_instagram_wrapper">
        <a href="http://instagram.com/detress_wedding/" title="Группа в Instagram">
          <i class="fi-social-instagram size-36"></i>
        </a>
      </span>
    </div>
    <div class="large-1 small-3 columns nopadding" style="float:left;">
      <span class="vk_ico_wrapper">
        <a href="https://vk.com/de_tress">
          <svg xmlns="http://www.w3.org/2000/svg" class="vk_ico_logobar height_inherit" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6.344 16.163h-1.867c-1.055 0-1.232-.601-2.102-1.469-.785-.785-1.22-.183-1.202.935.006.297-.141.534-.495.534-1.105 0-2.694.156-4.304-1.58-1.647-1.779-3.374-5.348-3.374-5.699 0-.208.172-.301.459-.301h1.898c.503 0 .545.249.686.568.584 1.331 1.981 4.002 2.354 2.511.214-.856.301-2.839-.615-3.01-.52-.096.396-.652 1.722-.652.33 0 .688.035 1.054.12.673.156.676.458.666.898-.034 1.666-.235 2.786.204 3.069.419.271 1.521-1.502 2.104-2.871.159-.378.191-.632.643-.632h2.322c1.216 0-.159 1.748-1.21 3.112-.847 1.099-.802 1.12.183 2.034.701.651 1.53 1.54 1.53 2.043 0 .238-.186.39-.656.39z"/></svg>
        </a>
      </span>
    </div>
  </div> -->
    

    <div class="large-12 small-9 columns height_inherit logo_wrapper nopadding">
      <a href="/">
        <img src="/media/colored.png" alt="{{website.altname}}" class="height_inherit">
      </a>
    </div>

    <!-- <div class="large-4 columns logobar_right_wrapper background_fff">
      <div class="logobar_telephone">
        <span class="font_garamond color_grey logobar_telephone_text"><a href="tel:+79370003390" class="no_link_confirm no_link_effect_grey">+7 937 000-33-90</a></span>
      </div>
    </div> -->

  </div>
</div>