<div class="large-10 small-12 columns nopadding menubar_wrapper uppercase">
  <div class="row nopadding height_inherit menubar_content transition" style="margin:0;">

    <div class="mobile_close">
      <span>&times;</span>
    </div>

    <div class="menubar_item_massive height_inherit large-12 small-12 columns nopadding">
      {% for unit in units %}
        <div class="menubar_item_line" data-id="{{unit.id}}">
          <div class="menubar_item_text transition" data-id="{{unit.id}}">
            {% if unit.children|length == 0 %}
              <span class="span_usual false_link" data-id="/level/{{unit.level}}/unit/{{unit.id}}/">{{unit.name}}</span>
            {% else %}
              <span class="span_usual" data-id="/level/{{unit.level}}/unit/{{unit.id}}/">{{unit.name}}</span>
              <span class="arrow">
                <svg class="angle_ico" viewBox="0 0 2048 2048" xmlns="http://www.w3.org/2000/svg"><path d="M1299 1088q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"/></svg>
              </span>
            {% endif %}
          </div>
          <div class="menubar_item_triangle_wrapper">
            <div class="menubar_item_triangle">
            </div>
          </div>
        </div>    
      {% endfor %}
    </div>

    <div class="menubar_item_content_wrapper large-12 small-12 columns nopadding">
      {% for unit in units %}
        <div class="menubar_item_content height_inherit nopadding" data-id="{{unit.id}}">
          <div class="menubar_item_content_header nopadding uppercase large-12 small-12 columns">
            <span class="span menubar_header_text">
              <span class="small-5 columns detress_button_small menubar_back span_small nopadding">назад</span>
                <span class="large-12 small-7 columns nopadding menubar_header_text_text">{{unit.name}}</span>
            </span>
          </div>
          <div class="large-12 small-12 columns nopadding content_wrapper" data-id="{{unit.id}}">
            <div class="large-12 small-12 columns nopadding content_items height_inherit">
              {% for child in unit.children %}
                {% if child.false_link == True %}
                  <div class="large-6 small-12 columns nopadding content_item transition false_link" data-id="/{{child.model_name}}/{{child.id}}/">
                    <div class="large-4 small-2 columns content_item_ico">
                      <img src="/media/{{child.ico}}" alt="{{child.name}}">
                    </div>
                    <div class="large-8 small-10 columns content_item_text">
                      <span class="span_subusual">{{child.name}}</span>  
                    </div>
                  </div>
                {% else %}
                  <div class="large-6 small-12 columns nopadding content_item" data-id="/{{child.model_name}}/{{child.id}}/">
                    <div class="large-4 small-2 columns content_item_ico">
                      <img src="/media/{{child.ico}}" alt="{{child.name}}">
                    </div>
                    <div class="large-8 small-10 columns content_item_text">
                      <span class="span_subusual">{{child.name}}</span>  
                    </div>
                  </div>
                {% endif %}
              {% endfor %}    
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

  </div>
</div>

<script>
  var menubar_units = {{units_json|safe}};
</script>