<div class="row">
  <div class="topbar_wrapper color_fff transition uppercase large-12 small-12 columns nopadding">
    <div class="row topbar_content nopadding background_color_2" style="margin-left:0;margin-right:0;">

      <div class="topbar_content_left transition large-3 small-12 columns height_inherit nopadding">
        <div class="large-11 small-11 columns nopadding">
          <input type="text" class="input_small" disabled="disabled" placeholder="поиск, напишите что Вы ищите...">
        </div>
        <div class="large-1 small-1 columns nopadding background_fff">
          <div class="search_icon height_inherit">
            <i class="fi-magnifying-glass color_000">
              
            </i>
          </div>
        </div>
      </div>

      <div class="topbar_content_right large-9 small-12 columns height_inherit nopadding">

        {% for unit in units %}
          <div class="large-3 small-3 columns topbar_unit">
            <span class="span_small">{{unit.name}}</span>
          </div>
        {% endfor %}

        <!-- панель login -->
        {{login_panel}}
        <!-- конец панели login -->

      </div>

      <!-- панель выбранные вещи-->
    </div>
  </div>
</div>