.close_ico{
	height:inherit;
	width:inherit;
	display:block;
	margin-top:7px;
}

.modal_close_button{
	display:block;
	height:30px;
	width:30px;
	float:right;
	cursor:pointer;
}

.close_button_wrapper{
	height:30px;
}


.modal_content_inner{
	max-width:75rem;
	margin-left:auto;
	margin-right:auto;
	display:flex;
	flex-flow:row wrap;
}

.modal_content{
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	height:800px;
}

.modal_window{
	top:0;
	position:absolute;
	min-height:100%;
	background-color:rgba(74, 108, 111, 1);
	z-index: 101;
	text-align: center;
	display:none;
}

/* для смартфонов */
@media screen and (min-width: 640px) and (max-width: 1023px) {

	.close_button_wrapper{
		height:120px;
		position:absolute;
	}

	.modal_close_button{
		height:120px;
		width:120px;
	}

	.close_ico{
		font-size:100px;
	}

	.modal_content{
		height:inherit;
	}
	.modal_content_inner{
	}
}