{% load custom_templates %}
<div class="large-12 small-12 columns nopadding" id="order_form_wrapper">

	<div class="large-12 small-12 columns nopadding padding_standart background_fff">
		<span class="span_superlarge color_000">Заявка на {{name}}</span>
	</div>

	<div class="large-12 small-12 columns nopadding background_fff">
		<form id="order_form" class="padding_standart">
			{% for field in order_form %}
				{% if field.name != 'content_type' and field.name != 'object_id' %}
					<div class="large-12 small-12 columns" id="{{field.name}}">
						<div class="large-12 small-12 columns nopadding span_usual">
							{{field|label_with_classes:"span_usual"}}
						</div>
						<div class="large-12 small-12 columns nopadding">{{field}}</div>
					</div>
				{% else %}
					<div class="large-12 small-12 columns" style="display:none;">
						<div class="large-12 small-12 columns nopadding span_usual">{{field.label}}</div>
						<div class="large-12 small-12 columns nopadding">{{field}}</div>
					</div>
				{% endif %}
			{% endfor %}
			{% for field in order_form %}
				{% if field.errors %}
					{% for error in field.errors %}
						<div class="large-12 small-12 columns nopadding color_4">
							<span class="span_usual">{{field.label}}. {{error|escape}}</span>
						</div>
					{% endfor %}
				{% endif %}
			{% endfor %}
		</form>
		<div class="large-12 small-12 columns padding_standart">
			<button class="button site_button_special span_usual submit_order_form" data-id="{{object_id}}">Отправить</button>
		</div>
	</div>
	<hr>
</div>
<script>
	$(function(){
		$('#id_delivery_date').fdatepicker({
			format: 'yyyy-mm-dd hh:ii',
			disableDblClickSelection: true,
			language: 'ru',
			pickTime: true,
		});
	});

	if ($('#id_want_tell_delivery_date').is(':checked')){
		$('#delivery_date').show(200);
	} else {
		$('#delivery_date').hide(200);
	}

	if ($('#id_want_tell_problem').is(':checked')){
		$('#text').show(200);
	} else {
		$('#text').hide(200);
	}
</script>