<div class="large-12 small-12 columns nopadding background_fff" id="thank_you_page">
	<div class="large-12 small-12 columns padding_standart">
		<span class="span_usual color_000">Спасибо за заявку, {{orderer_name|capfirst}}. Если сейчас рабочее время, мы быстро с Вами свяжемся.</span>
	</div>
	<div class="large-12 small-12 columns padding_standart">
		<button class="button site_button_special span_usual" id="close_thank_you_page">Закрыть</button>
	</div>
</div>
<script>
	$('#close_thank_you_page').on('click', function(){
		$('#thank_you_page').hide(200);
	});
</script>