[type='text'],
[type='password'], [type='date'], [type='datetime'], [type='datetime-local'],
[type='month'], [type='week'], [type='email'], [type='number'], [type='search'],
[type='tel'], [type='time'], [type='url'], [type='color'], textarea {
	font-size:15px;
	background-color:#eee;
}
[type='text']:focus, 
[type='password']:focus, [type='date']:focus, [type='datetime']:focus,
[type='datetime-local']:focus, [type='month']:focus, [type='week']:focus,
[type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus,
[type='time']:focus, [type='url']:focus, [type='color']:focus, textarea:focus {
	background-color:#eee;
}

.float_left{
	float:left;
}
.float_right{
	float:right;
}

.button{
	margin:0;
}

.tooltip{
	font-size:inherit;
}
.background_color_1{
	background-color:#4a6c6f;
}
/* синий */
.background_color_2{
	background-color:#247ba0;
}
/* orange */
.background_color_3{
	background-color:#fe7f2d;
}
/* красный */
.background_color_4{
	background-color:#E71D36;
}
.background_color_5{

}
.color_1{
	color:#4a6c6f;
}
.color_2{
	color:#247ba0;
}
.color_3{
	color:#fe7f2d;
}
.color_4{
	color:#e71d36;
}
.color_5{

}

.padding_standart{
	padding-top:25px;
	padding-bottom:25px;
	padding-left:0;
	padding-right:0;
}

.only_desktop{
	display:block;
}

.only_mobile{
	display:none;
}

label{
	padding-top:15px;
	padding-bottom:15px;
}

table thead, table tbody, table tfoot{
	border: 1px solid #fff;
}

.site_button:hover, .site_button:focus{
	background-color:#247ba0;
}

.site_button{
	background-color:#fe7f2d;
	margin:0;
	text-transform: uppercase;
}

select.select_usual{
	height:44px;
	text-transform: uppercase;
}

.span_superlarge{
	font-size:25px;
}

h4{
	font-size:26px;
}

p, b{
	line-height: 1.5;
}

.text_center{
	text-align: center;
}

.page_content{
	/* min-height: 100%; */
	/* margin-top:-150%; */
	/* display:none; */
	z-index: 1;
}

.nomargin{
	margin:0;
}

h2{
	font-size:45px;
}

h3{
	font-size:40px;
	line-height: 0.7;
}

body{
	
}

*:focus {
    outline: none;
}

a{
	color:#E71D36;
}

a:hover{
	color:#247ba0;
}

a:focus{
	color:#b0228c;
}

.flex{
	display:flex;
	justify-content: center;
}

.width_max, .width_inherit{
	width:100%;
}
.font_inherit{
	font-family: inherit;
}

.nopadding{
	padding:0;
}

::selection {
	color:#fe7f2d;
	background: #fff; /* WebKit/Blink Browsers */
}
::-moz-selection {
	color:#fe7f2d;
	background: #fff; /* Gecko Browsers */
}

.uppercase{
	text-transform: uppercase;
}

.height_inherit{
	height:inherit;
}

.span_large{
	font-size:20px;
	line-height: 0.8;
}

.span_usual{
	font-size:15px;
	/* letter-spacing: -1px; */
}

.span_subusual{
	font-size:14px;
	/* letter-spacing: 0px; */
}

.span_small{
	font-size:12px;
	line-height: 0.9;
	/* letter-spacing: 0px; */
}

.background_fff{
	background-color:#fff;
}

.color_fff{
	color:#fff;
}

.color_000{
	color:#000;
}

.transition{
	-webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}

.text_left{
	text-align:left;
}

.text_right{
	text-align:right;
}

/* для смартфонов */
@media screen and (min-width: 640px) and (max-width: 1023px) {
	
	.span_small{
		font-size:24px;
	}

	.span_usual{
		font-size:37px;
	}

	.site_button_small{
		background-color:#fe7f2d;
		cursor:pointer;
	}

	h2{
		font-size:70px;
	}

	h3{
		font-size:60px;
	}

	.span_large{
		font-size:45px;
		line-height: 1.3;
	}

	p, b{
		line-height: 1.8;
	}

	.span_subusual{
		font-size:35px;
		/* letter-spacing: 0px; */
	}
	.garamond_subusual{
		font-size:38px;
	}

	h4{
		font-size:62px;
	}

	.span_superlarge{
		font-size:50px;
	}

	.only_desktop{
		display:none;
	}

	.only_mobile{
		display:block;
	}

	table thead, table tbody, table tfoot{
		border: 1px solid #fff;
	}

	.padding_standart{
		padding-top:40px;
		padding-bottom:40px;
		padding-left:0;
		padding-right:0;
	}

	[type='text'],
	[type='password'], [type='date'], [type='datetime'], [type='datetime-local'],
	[type='month'], [type='week'], [type='email'], [type='number'], [type='search'],
	[type='tel'], [type='time'], [type='url'], [type='color'], textarea {
		font-size:2rem;
		height:5rem;
		border: 3px solid #e71d36;
	}
	[type='text']:focus, 
	[type='password']:focus, [type='date']:focus, [type='datetime']:focus,
	[type='datetime-local']:focus, [type='month']:focus, [type='week']:focus,
	[type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus,
	[type='time']:focus, [type='url']:focus, [type='color']:focus, textarea:focus {
		border: 3px solid #e71d36;
		background-color:#eee;
	}

	input[type="checkbox"], input[type="radio"]{
		height:60px;
		width:60px;
	}
}