<div class="large-12 small-12 columns nopadding padding_standart">
	<span class="span_superlarge color_fff">{{name|capfirst}}</span>
</div>
<div class="large-12 small-12 columns nopadding">
	<table>
		<tbody>
			{% for parent in parents %}
				<tr class="price_line_wrapper" data-id="{{parent.id}}" data-type="parent">
					<td class="span_usual price_line price_parent_line">
						<div class="large-2 small-3 columns height_inherit price_ico_wrapper">
							<img src="media/{{parent.ico}}" alt="{{parent.name|capfirst}}" class="price_ico_img">
						</div>
						<div class="large-8 small-6 columns price_text_wrapper height_inherit text_left">
							<div class="large-12 small-12 columns nopadding price_text_inner">
								<span class="uppercase price_text">{{parent.name|capfirst}}</span>
							</div>
							<div class="large-12 small-12 columns nopadding price_triangle_wrapper">
								<div class="price_triangle">
									
								</div>
							</div>
						</div>
						<div class="large-2 small-3 columns price_text_wrapper height_inherit text_left">
							<span class="price_text height_inherit">
								<button class="button site_button_special span_small get_order_form" data-id="{{parent.id}}">записаться</button>
							</span>
						</div>
					</td>
				</tr>
			{% endfor %}
			<tr class="price_line_wrapper" data-id="0" data-type="method">
				<td class="span_usual price_line price_parent_line">
					<div class="large-12 small-12 columns price_text_wrapper height_inherit text_left">
						<span class="uppercase price_text">назад</span>
					</div>
				</td>
			</tr>
			{% for method in methods %}
				<tr class="price_line_wrapper" data-id="{{method.id}}" data-type="method">
					<td class="span_usual price_line price_parent_line">
						<div class="large-8 small-7 columns price_text_wrapper height_inherit text_left">
							<span class="uppercase price_text">{{method.name|capfirst}}</span>
						</div>
						<div class="large-2 small-2 columns price_text_wrapper height_inherit text_center">
							<span class="uppercase price_text">{{method.cost}}</span>
						</div>
						<div class="large-2 small-3 columns price_text_wrapper height_inherit text_left">
							<span class="price_text height_inherit">
								<button class="button site_button_special span_small get_order_form" data-id="{{method.id}}">записаться</button>
							</span>
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<script>
	var parents = {{parents|safe}};
	var children = {{methods|safe}};
	var back;
</script>