<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="ru">
<head>
	<meta charset="UTF-8">
  <meta content="user-scalable=yes" name="viewport" initial-scale="1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="description" content="{{meta.Description}}" />
  <title>{{meta.Title}}</title>
	{% load staticfiles %}
  <!-- <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"> -->

  <script type="text/javascript" src="{% static 'js/vendor/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/foundation.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/vendor/what-input.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/foundation-datepicker.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/locales/foundation-datepicker.ru.js' %}"></script>

  <script type="application/ld+json">
  </script>

  <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
  <link rel="stylesheet" href="{% static 'css/foundation-flex.css' %}">
  <link rel="stylesheet" href="{% static 'css/foundation-datepicker.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/top/topbar.css'%}">
  <link rel="stylesheet" href="{% static 'css/content/mainpage.css' %}">
  <link rel="stylesheet" href="{% static 'css/bottom/bottombar.css' %}">
  <link rel="stylesheet" href="{% static 'css/common/modal.css' %}">
</head>

<body class="background_color_1">
  

  <!-- модальное окно -->
  <div class="large-12 small-12 columns nopadding row align-middle modal_window">
    <div class="modal_content large-12 small-12 columns nopadding">
      <div class="modal_content_inner">

        <div class="large-12 small-12 columns close_button_wrapper nopadding">
          <div class="modal_close_button">
            <span class="span_large close_ico font_garamond" style="color:#ddd">&times;</span>
          </div>
        </div>
        
        <!-- содержимое модального окна -->
        <div class="large-12 small-12 columns modal_text">

        </div>
        <!-- конец содержания модального окна -->          

      </div>
    </div>
  </div>
  <!-- конец блока модальное окно-->

  {{top.topbar}}

  <div class="large-12 small-12 columns nopadding">
    <div class="row nopadding page_content">

      {{top.logobar}}

      {{top.menubar}}

      {{content}}

      {{bottombar}}

    </div>
  </div>
  {% csrf_token %}

  <!-- конец блока содержания-->
  <script>
    var session = {{session|safe}};

    //ajax запрос
    var makeAjax = function(parameters){
      $.ajax({
        type: "POST",
        url: "/ajax/",
        data: JSON.stringify(parameters),
        contentType: "application/json; charset=utf-8",
        headers: {
          'X-CSRFToken': getCookie('csrftoken')
        },
        dataType: "json",
        async: true,
        success: function(data, textStatus, jqXHR){
          if (typeof mainpage_module != 'undefined'){
            mainpage_module.read_ajax_response(data, parameters);
          }
        }
      });
    }

    //построить cookie в данном случае для csrf_token
    var getCookie = function(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }

    $(document).foundation();

  </script>
  <script src="{% static 'js/common/modal.js' %}"></script>
  <script src="{% static 'js/content/mainpage.js' %}"></script>
</body>