<div class="large-12 small-12 columns nopadding authorize_wrapper">
  <div class="large-12 small-12 columns nopadding">
    <h3 class="font_garamond">Войти через:</h3>
  </div>

  <div class="large-12 small-12 columns nopadding login_content_line">
    <span class="span_large font_garamond large-12 small-12 columns nopadding height_inherit">
      <a href="{{ vk.url }}">вконтакте</a>
    </span>
  </div>

  <!-- <div class="large-12 small-12 columns nopadding login_content_line">
    <span class="span_small large-12 small-12 columns nopadding height_inherit">
      <a href="#">одноклассники</a>
    </span>  
  </div> -->

  <div class="large-12 small-12 columns nopadding login_content_line">
    <span class="span_large font_garamond large-12 small-12 columns nopadding height_inherit">
      <a href="{{ fb.url }}">facebook</a>
    </span>  
  </div>

  <!-- <div class="large-12 small-12 columns nopadding login_content_line">
    <span class="span_small large-12 small-12 columns nopadding height_inherit">
      <a href="#">twitter</a>
    </span>  
  </div>
  
  <div class="large-12 small-12 columns nopadding login_content_line">
    <span class="span_small large-12 small-12 columns nopadding height_inherit">
      <a href="#">mail.ru</a>
    </span>  
  </div> -->

  <div class="large-12 small-12 columns nopadding login_content_line">
    <span class="span_large font_garamond large-12 small-12 columns nopadding height_inherit">
      <a href="{{ ya.url }}">яндекс</a>
    </span>  
  </div>

  <div class="large-12 small-12 columns nopadding login_content_line">
    <span class="span_large font_garamond large-12 small-12 columns nopadding height_inherit">
      <a href="{{ gp.url }}">google</a>
    </span>  
  </div>

  <div class="large-12 small-12 columns nopadding login_content_line">
    <span class="span_large font_garamond large-12 small-12 columns nopadding height_inherit">
      <a id="leave_anonymous">остаться анонимным</a>
    </span>
  </div>
</div>