<div class="large-12 small-12 columns nopadding banner_wrapper height_inherit">
	{% for banner_unit in banner_units %}
		<div class="large-12 small-12 columns nopadding banner_unit height_inherit" data-id="{{banner_unit.id}}">
			<img src="/media/{{banner_unit.image}}" alt="{{banner_unit.name}}">			
		</div>
	{% endfor %}
</div>

<script>
	var banner_units = {{banner_units|safe}};
</script>