<div class="large-12 small-12 columns nopadding padding_standart">
	<span class="span_superlarge color_fff">Схема проезда</span>
</div>
<div class="large-12 small-12 columns nopadding">
	<iframe src="https://www.google.com/maps/d/embed?mid=1-t3WncZQiKa0U0Ysh8sF1uZpz9Y" width="100%" height="800px" class="map"></iframe>
</div>
<div class="large-12 small-12 columns">
	<div class="large-12 small-12 columns nopadding">
		<span class="span_usual color_fff">420061, Респ. Татарстан, г. Казань, ул. Космонавтов, 6 а</span>
	</div>
</div>