<div class="large-12 small-12 columns nopadding mainpage_content_methods background_fff">
	<div class="large-12 small-12 columns">
		<div class="large-2 small-12 columns page_head text_center nopadding">
			<div class="large-12 small-12 columns text_left padding_standart">
				<h2 class="page_head_text uppercase color_000">наши <b>методы лечения</b></h2>		
			</div>
		</div>

		<div class="large-10 small-12 columns nopadding methods_wrapper">
			{% for method in methods %}
				<div class="large-3 small-6 columns nopadding method_unit transition" style="float:left;" data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="{{method.id}}" title="Подробнее" data-id="{{method.id}}">
					<div class="large-12 small-12 columns method_ico_wrapper">
						<img src="media/{{method.ico}}/" alt="{{method.name}} в центре НейроПрофи г. Казань" class="height_inherit">
					</div>
					<div class="large-12 small-12 columns method_unit_header text_center">
						<span class="span_usual uppercase"><b>{{method.name}}</b></span>
					</div>
					<div class="large-12 small-12 columns method_unit_text text_center">
						<span class="span_usual">
							{{method.short_description|truncatechars:140}}
						</span>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
<script>
	methods = {{methods|safe}};
</script>