<div class="large-12 small-12 columns nopadding tree_elems_wrapper background_fff">
	<div class="large-12 small-12 columns tree_elems_content font_garamond height_inherit">
		{% for tree_elem in tree_elems %}
			
			{% if forloop.last %}
				<div class="large-2 small-3 columns nopadding tree_elem height_inherit" style="float:left;">
					<span class="span_usual_garamond tree_elem_text color_purple">{{tree_elem.name|capfirst}}</span>
				</div>
			{% elif tree_elem.level == 0%}
				<div class="large-2 small-3 columns nopadding height_inherit" style="float:left;">
					<div class="large-2 small-2 columns nopadding height_inherit">
						
					</div>
					<div class="large-8 small-8 columns nopadding height_inherit tree_elem">
						<a href="/">
							<span class="span_usual_garamond tree_elem_text">Главная</span>
						</a>
					</div>
					<div class="large-2 small-2 columns nopadding height_inherit tree_elem">
						<span class="span_usual_garamond color_purple tree_elem_text">/</span>
					</div>
				</div>
			{% else %}
				<div class="large-2 small-3 columns nopadding height_inherit" style="float:left;">
					<div class="large-2 small-2 columns nopadding height_inherit">
						
					</div>
					<div class="large-8 small-8 columns nopadding height_inherit tree_elem">
						<a href="/level/{{tree_elem.level}}/unit/{{tree_elem.id}}/">
							<span class="span_usual_garamond tree_elem_text">{{tree_elem.name|capfirst}}</span>
						</a>
					</div>
					<div class="large-2 small-2 columns nopadding height_inherit tree_elem">
						<span class="span_usual_garamond color_purple tree_elem_text">/</span>
					</div>
				</div>
			{% endif %}


		{% endfor %}
	</div>
</div>