<div class="large-12 small-12 columns nopadding background_photo">
	<div class="large-12 small-12 columns nopadding banner_wrapper height_inherit">
		<div class="large-12 small-12 columns nopadding banner_unit height_inherit">
			<img src="/media/banner/What-are-Spinal-Cord-Stimulators_2.jpg" alt="Методы лечения">	
		</div>
	</div>
</div>